<h1 class="text-center mt-4">Editar Paciente</h1>
<form class="needs-validation" novalidate [formGroup]="form">
  <div class="form-group">

    <div class="row">
      <div class="mb-3 col-lg-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome"
               [ngClass]="{'is-invalid': submitted && hasError('nome')}">
      </div>

      <div class="mb-3 col-lg-6">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" formControlName="sobrenome"
               [ngClass]="{'is-invalid': submitted && hasError('sobrenome')}">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mb-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" formControlName="cpf"
               [ngClass]="{'is-invalid': submitted && hasError('cpf')}">
      </div>

      <div class="col-lg-6 mb-3">
        <label for="rg" class="form-label">RG</label>
        <input type="text" class="form-control" id="rg" formControlName="rg"
               [ngClass]="{'is-invalid': submitted && hasError('rg')}">
      </div>

    </div>

    <div class="mb-3">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email" formControlName="email"
             [ngClass]="{'is-invalid': submitted && hasError('email')}">
      <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
    </div>

    <div class="row mb-3">
      <div class="col-lg-6 col-md-12 mb-3">
        <label>Celular</label>
        <input type="text" formControlName="celular" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && hasError('celular') }"/>
      </div>
      <div class="col-lg-6 col-md-12 mb-3">
        <label>Telefone</label>
        <input type="text" formControlName="telefone" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && hasError('telefone') }"/>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 mb-3">
        <label>Profissão</label>
        <input type="text" formControlName="profissao" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && hasError('profissao') }"/>
      </div>

      <div class="col-lg-6">
        <label for="nascimento">Data nascimento</label>
        <input id="nascimento" class="form-control" type="date" />
      </div>
    </div>


    <div class="mt-4">
      <button class="btn btn-primary btn-block col-12" type="submit" (click)="onSubmit()">Salvar</button>
    </div>

  </div>

</form>
